

.login-page-child {
    position: absolute;
    top: 0px;
    left: 607px;
    background-color: #840001;
    width: 832px;
    height: 1024px;
}
.login {
    position: absolute;
    top: 52px;
    left: 208px;
    font-size: 48px;
}
.login-wrapper {
    position: absolute;
    top: 484px;
    left: 131px;
    border-radius: 28px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 110px;
    opacity: 0.5;
    color: #fafcfe;
}
.your-email {
    align-self: stretch;
    position: relative;
}
.frame-child {
    width: 351px;
    position: relative;
    border-radius: 14px;
    background-color: #d9d9d9;
    height: 40px;
}
.frame-inner {
    width: 19px;
    position: relative;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 19px;
}
.privacy-policy {
    text-decoration: underline;
    font-weight: 600;
}
.i-agree-to-container {
    position: relative;
}
.rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}
.your-email-parent {
    position: absolute;
    top: 155px;
    left: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #000;
}
.login-parent {
    position: absolute;
    top: 219px;
    left: 751px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: #fafcfe;
    width: 544px;
    height: 586px;
    overflow: hidden;
}
.login-to-your {
    width: 367px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.dont-have-an {
    position: relative;
    font-weight: 500;
}
.dont-have-an-account-wrapper {
    border-radius: 28px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 69px;
    text-align: left;
    font-size: 16px;
}
.login-to-your-account-parent {
    position: absolute;
    top: calc(50% - 175px);
    left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    text-align: center;
    font-size: 64px;
    color: #000;
}
.logo-icon {
    width: 38.5px;
    position: relative;
    height: 43px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo-parent {
    position: absolute;
    top: calc(50% - 462px);
    left: calc(50% - 560px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 24px;
    color: #840001;
}
.login-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #1c1c1c;
    font-family: Poppins;
}



.sign-up-page-child {
    position: absolute;
    top: 3px;
    left: 832px;
    background-color: #fafcfe;
    width: 608px;
    height: 1021px;
}
.sign-up-page-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #840001;
    width: 832px;
    height: 1024px;
}
.sign-up {
    position: absolute;
    top: 54px;
    left: 171px;
    font-size: 48px;
}
.input-label {
    position: relative;
}
.input-label1 {
    width: 166px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.input-label-wrapper {
    border-radius: 14px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    opacity: 0.5;
    color: #fafcfe;
}
.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.input-field-parent {
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.input-label-frame {
    align-self: stretch;
    border-radius: 14px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    opacity: 0.5;
    color: #fafcfe;
}
.input-field2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.componentuicheckboxchecked-item {
    position: absolute;
    height: 81.82%;
    width: 81.82%;
    top: 9.09%;
    right: 9.09%;
    bottom: 9.09%;
    left: 9.09%;
    border-radius: 4px;
    border: 2px solid #1c1c1c;
    box-sizing: border-box;
}
.checkbox-off {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.checkbox {
    width: 22px;
    position: relative;
    height: 22px;
}
.privacy-policy {
    text-decoration: underline;
    font-weight: 600;
}
.i-agree-to-container {
    position: absolute;
    top: 0%;
    left: 0%;
}
.i-agree-to-the-privacy-policy {
    width: 226px;
    position: relative;
    height: 24px;
}
.checkbox-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}
.frame-parent {
    position: absolute;
    top: 156px;
    left: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}
.sign-up1 {
    position: relative;
    font-weight: 500;
}
.sign-up-wrapper {
    position: absolute;
    top: 484px;
    left: 131px;
    border-radius: 28px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 110px;
    opacity: 0.5;
    color: #fafcfe;
}
.sign-up-parent {
    position: absolute;
    top: 219px;
    left: 160px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: #fafcfe;
    width: 544px;
    height: 586px;
    overflow: hidden;
}
.logo-icon {
    width: 38.5px;
    position: relative;
    height: 43px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo-parent {
    position: absolute;
    top: 50px;
    left: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 24px;
    color: #fafcfe;
}
.create-a-new {
    width: 312px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.button {
    border-radius: 28px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 70px;
    text-align: left;
    font-size: 16px;
}
.create-a-new-account-parent {
    position: absolute;
    top: calc(50% - 175px);
    left: 961px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    text-align: center;
    font-size: 64px;
}
.sign-up-page {
    width: 100%;
    position: relative;
    background-color: #fafcfe;
    height: 1024px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: #1c1c1c;
    font-family: Poppins;
}

.sign-up-page-after-input-child {
    position: absolute;
    top: 3px;
    left: 832px;
    background-color: #fafcfe;
    width: 608px;
    height: 1021px;
}
.sign-up-page-after-input-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #840001;
    width: 832px;
    height: 1024px;
}
.sign-up {
    position: absolute;
    top: 54px;
    left: 171px;
    font-size: 48px;
}
.input-label {
    position: relative;
}
.input-value {
    width: 166px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.input-value-wrapper {
    border-radius: 14px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}
.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.input-field-parent {
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.input-value-frame {
    align-self: stretch;
    border-radius: 14px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}
.input-field2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.componentuicheckboxchecked-item {
    position: absolute;
    height: 81.82%;
    width: 81.82%;
    top: 9.09%;
    right: 9.09%;
    bottom: 9.09%;
    left: 9.09%;
    border-radius: 4px;
    background-color: #840001;
}
.componentuicheckboxchecked-inner {
    position: absolute;
    height: 31.82%;
    width: 45.45%;
    top: 31.82%;
    right: 27.27%;
    bottom: 36.36%;
    left: 27.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.checkbox-off {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.checkbox {
    width: 22px;
    position: relative;
    height: 22px;
}
.privacy-policy {
    text-decoration: underline;
    font-weight: 600;
}
.checkbox-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}
.frame-parent {
    position: absolute;
    top: 156px;
    left: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}
.sign-up1 {
    position: relative;
    font-weight: 500;
}
.sign-up-wrapper {
    position: absolute;
    top: 484px;
    left: 131px;
    border-radius: 28px;
    background-color: #840001;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 110px;
    cursor: pointer;
    color: #fafcfe;
}
.sign-up-parent {
    position: absolute;
    top: 219px;
    left: 160px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: #fafcfe;
    width: 544px;
    height: 586px;
    overflow: hidden;
}
.logo-icon {
    width: 38.5px;
    position: relative;
    height: 43px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo-parent {
    position: absolute;
    top: 50px;
    left: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 24px;
    color: #fafcfe;
}
.create-a-new {
    width: 312px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.button {
    border-radius: 28px;
    border: 1px solid #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 70px;
    text-align: left;
    font-size: 16px;
}
.create-a-new-account-parent {
    position: absolute;
    top: calc(50% - 175px);
    left: 961px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    text-align: center;
    font-size: 64px;
}
.sign-up-page-after-input {
    width: 100%;
    position: relative;
    background-color: #fafcfe;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #1c1c1c;
    font-family: Poppins;
}

