:root {
    --maroon: rgba(132, 0, 1, 1);
    --ocd: rgba(107, 54, 255, 1);
    --eerie: rgba(28, 28, 28, 1);
    --cloud: rgba(250, 252, 254, 1);
    --subtext: rgba(74, 74, 104, 1);
    --duotone: rgba(126, 134, 158, 0.25);
    --typography-h1-font-family: "Poppins", Helvetica;
    --typography-h1-font-weight: 600;
    --typography-h1-font-size: 64px;
    --typography-h1-letter-spacing: 0px;
    --typography-h1-line-height: normal;
    --typography-h1-font-style: normal;
    --typography-h2-font-family: "Poppins", Helvetica;
    --typography-h2-font-weight: 400;
    --typography-h2-font-size: 48px;
    --typography-h2-letter-spacing: 0px;
    --typography-h2-line-height: normal;
    --typography-h2-font-style: normal;
    --typography-h3-font-family: "Poppins", Helvetica;
    --typography-h3-font-weight: 400;
    --typography-h3-font-size: 24px;
    --typography-h3-letter-spacing: 0px;
    --typography-h3-line-height: normal;
    --typography-h3-font-style: normal;
    --typography-h2accent-font-family: "Neue Protest", Helvetica;
    --typography-h2accent-font-weight: 400;
    --typography-h2accent-font-size: 40px;
    --typography-h2accent-letter-spacing: 0px;
    --typography-h2accent-line-height: normal;
    --typography-h2accent-font-style: normal;
    --typography-body-font-family: "Poppins", Helvetica;
    --typography-body-font-weight: 400;
    --typography-body-font-size: 16px;
    --typography-body-letter-spacing: 0px;
    --typography-body-line-height: normal;
    --typography-body-font-style: normal;
    --typography-button-font-family: "Poppins", Helvetica;
    --typography-button-font-weight: 500;
    --typography-button-font-size: 16px;
    --typography-button-letter-spacing: 0px;
    --typography-button-line-height: normal;
    --typography-button-font-style: normal;
    --typography-links-font-family: "Poppins", Helvetica;
    --typography-links-font-weight: 600;
    --typography-links-font-size: 16px;
    --typography-links-letter-spacing: 0px;
    --typography-links-line-height: normal;
    --typography-links-font-style: normal;
    --shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    --ambience: 0px 0px 40px 10px rgba(192, 0, 0, 0.5);
    --variable-collection-background-color: rgba(17, 16, 16, 1);
  }
  